<h1>Too lazy to code this</h1>
<p class="sub-title"><strong>Why is css such a pain</strong> <br /> This will have to do for now</p>
<a class="button" id="see-all-spaces" href="/spaces/index">See all spaces</a>
