<div class="form-normal-container">
  <h1>Add space</h1>
  <form class="form-normal" action="/spaces" method='post'>
    <div class="form-row">
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="form-row">
      <input class="text-box" type="text" name="description" placeholder="Description">
    </div>
    <div class="form-row">
      <input type="text" name="price" placeholder="Price">
    </div>
    <div class="form-row">
      <p>Available from:</p>
    </div>
    <div class="form-row">
      <input type="date" name="date_start">
      <input type="date" name="date_end">
    </div>
    <div class="form-row">
      <input type="submit" value='Add space'>
    </div>
  </form>
</div>