<div class="form-mini-container">
  <h1>Sign up</h1>
  <form class="form-mini" action="/users" method="post">
    <div class="form-row">
      <input type="text" name="username" placeholder="Enter your username">
    </div>
    <div class="form-row">
      <input type="email" name="email" placeholder="Enter your email">
    </div>
    <div class="form-row">
      <input type="password" name="password" placeholder="Enter your password">
    </div>
    <div class="form-row form-last-row">
      <input type="submit" value='Sign up'>
    </div>
  </form>
  <a class="floating-link" href="/sessions/new">Already got an account? Log in</a>
</div>